<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">expens-o-matic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {% if is_granted('ROLE_USER') %}
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if app.request.attributes.get( '_route' ) == 'expense_overview' %}active{% endif %}">
        <a class="nav-link" href="/">My Expenses <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if app.request.attributes.get( '_route' ) == 'account' %}active{% endif %}">
        <a class="nav-link" href="/account">Account</a>
      </li>
      {% if is_granted('ROLE_ACCOUNTANT') %}
      <li class="nav-item {% if app.request.attributes.get( '_route' ) == 'management' %}active{% endif %}">
        <a class="nav-link" href="/management">Management</a>
      </li>
      {% endif %}
      {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item dropdown {% if app.request.attributes.get( '_route' ) starts with 'admin' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin/users">Users</a>
        </div>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
  {% endif %}
</nav>